<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <title>Abis App</title>
    </head>
    <body>
        <div class="container">
            <h1 class="mb-3">Find All course</h1>

            <table class="table mt-3" th:if="${listOfCourses}">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Short Title</th>
                    <th scope="col">Long Title</th>
                    <th scope="col">Number of days</th>
                    <th scope="col">Price per day</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course: ${listOfCourses}">
                    <th scope="row" th:text="${course.courseId}"></th>
                    <td th:text="${course.shortTitle}"></td>
                    <td th:text="${course.longTitle}"></td>
                    <td th:text="${course.numberOfDays}"></td>
                    <td th:text="${course.pricePerDay}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
