<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Abis App</title>
</head>
<body>
<div class="container">
    <div class="alert alert-success mt-3" role="alert" th:text="${success}" th:if="${success}"></div>
    <div class="alert alert-danger mt-3" role="alert" th:text="${error}" th:if="${error}"></div>

    <table class="table mt-3" th:if="${retrievedPersons}">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Language</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person: ${retrievedPersons}">
            <th scope="row" th:text="${person.personId}"></th>
            <td th:text="${person.firstName}"></td>
            <td th:text="${person.lastName}"></td>
            <td th:text="${person.age}"></td>
            <td th:text="${person.emailAddress}"></td>
            <td th:text="${person.language}"></td>
        </tr>
        </tbody>
    </table>




    <a th:href="@{/findperson}" type="button" class="btn btn-secondary">Back</a>
</div>
</body>
</html>