<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Abis App</title>
</head>
<body>
<div class="container">
    <div class="alert alert-success mt-3" role="alert" th:text="${success}" th:if="${success}"></div>
    <div class="alert alert-danger mt-3" role="alert" th:text="${error}" th:if="${error}"></div>

    <form action="#" method="post" th:action="@{/deleteperson}" th:object="${findPersonForm}">
        <h2 class = "mt-4">Find a person</h2>
        <hr/>

        <div class = "form-group row">
            <label for = "personId" class = "col-sm-2 col-form-label">Person Id</label>
            <div class = "col-sm-4">
                <input th:field="*{personId}" id="personId" type = "text" class = "form-control">
            </div>
            <div class = "col-4">
                <button type = "submit" class = "btn btn-primary">Delete</button>
            </div>
        </div>
    </form>

    <a th:href="@{/personadmin}" type="button" class="btn btn-secondary">Back</a>
</div>
</body>
</html>